body{
    background-image: url('/images/Фон\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.title{
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    color: white;
}

.subtitle{
    display: inline-block;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.link{
    text-decoration: none;
    list-style: none;
    color: white;
}

.picture{
   width: 18px;
   padding-left: 15px;
}

.pic{
    width: 18px;
    padding-left: 15px;
    border-right: 1px solid white;
    padding-right: 20px;
}

.link:hover{
    color:#3CB878;
}

.picture:hover, .pic:hover{
    background-color: #3CB878;
}

.main{
    margin: 0 auto;
    margin-top: 20px;
    width: 440px;
    height: 580px;
    background-color: white; 
    font-family: 'Ubuntu', sans-serif;
}
.square{
    display: block;
    width: 22px;
    height: 22px;
    background-color:#3CB878 ;
  }

.sign{
    display: flex;
    padding-top: 30px;
    font-size: 20px;
}

.sign-span{
    padding-left: 40px;
}

.log{
    display: flex;
    margin: 0 auto;
    padding-left: 120px;
}

.link-in{
    text-decoration: none;
    list-style: none;
    color:#3CB878;
}

.link-in:hover{
    text-decoration: underline;
}

.network{
    display: flex;
    margin: 0 auto;
    position: absolute;
    align-items: center;
    margin-top: 10px;
}

.fbook{
    display: flex;
    margin-left: 10px;
    align-items: center;
    color: white;
    background-color: #305DB8;
    padding: 12px 50px;
    border-radius: 4px;
    margin-right: 5px;
}

.google{
    display: flex;
    color: white;
    align-items: center;
    background-color: #DF4A32;
    padding: 14px 50px;
    border-radius: 4px;
}

.net{
    text-decoration: none;
}

.images{
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.item{
    display: flex;
    margin: 0 auto;
}

.text {
    color: gray;
    opacity: 0.5;
    margin-top: 75px;
    text-align: center;
}

.form-table{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    width: 90%;
    height: 75%;
}

.name{
    display: flex;
    margin-top: 15px;
    width: 350px;
    height: 40px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    opacity: 0.5;
}

.name:focus{
    box-shadow: 5px 5px;
}

.last-name{
    display: flex;
    margin-top: 15px;
    width: 350px;
    height: 40px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    opacity: 0.5;
}

.last-name:focus{
    box-shadow: 5px 5px;
}

.email{
    display: flex;
    margin-top: 15px;
    width: 350px;
    height: 40px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    opacity: 0.5;
}

.email:focus{
    box-shadow: 5px 5px;
}


.password{
    display: flex;
    margin-top: 15px;
    width: 350px;
    height: 40px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    opacity: 0.5;
}

.password:focus{
    box-shadow: 5px 5px;
}


.check{
    display: inline-block;
    width: 15px;
    margin-top: 25px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.check-link{
    text-decoration: none;
    list-style: none;
    color: #3CB878;
}

.account{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3CB878;
    padding: 17px 50px;
    border-radius: 4px;
   
}

.link-acc{
    text-decoration: none;
    list-style: none; 
}

.fbook:hover{
  background-color: #022263;
  color: white;
}

.google:hover{
  background-color: #AB1F09;
  color: white;
}

.check-link:hover{
 text-decoration: underline;
 color: #01813F;
}

.account:hover{
    color: white;
    background-color: #01813F;
}
